*{
     margin: 0;
}

.logo{
     height: 100px;
     width: auto;
}

.container-header{

     height: 200px;
     display: grid;
     grid-template-columns: repeat(5,1fr);
}

.container-header div {
     margin: 20px;
}

.container-header div button{
     padding: 20px;
}




.img1{
     height: 300px;
     width: auto; 
}
.container-area-one{
      justify-items: center;
     height: 200px;
     display: grid;
     grid-template-columns: repeat(2,1fr);
}




.text{
     margin: 10px;
}

.container-area-two{
     display: grid;
     grid-template-columns: repeat(1,1fr);
}
